.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages__item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: $colorTeam;
  background-image: url(../img/icons/antenna.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.advantages__item--2::before {
  background-image: url(../img/icons/clock.svg);
}

.advantages__item--3::before {
  background-image: url(../img/icons/diagram.svg);
}

.advantages__item--4::before {
  background-image: url(../img/icons/astronaut.svg);
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.advantages__item {
  flex-basis: calc((100% - 90px) / 4);
  animation: showUp 1.3s ease 0s;
  z-index: -1;
}

.advantages__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages__text {
  color: $colorAdvantages;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}

@media (max-width: 991px) {
  .advantages {
    padding-bottom: 60px;
  }

  .advantages__list {
    flex-wrap: wrap;
  }

  .advantages__item {
    flex-basis: calc((100% - 45px) / 2);
  }
}

@media (max-width: 575px) {
  .advantages__item {
    flex-basis: 100%;
  }
}
