.footer-webnetworks__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $colorMain;
  margin-bottom: 20px;
}

.footer-webnetworks__list {
  @extend %flex-grid;
  column-gap: 10px;
}

.footer-webnetwork__item {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color $animPrimery;
}

.footer-webnetwork__item:hover {
  background-color: $colorHover;
}

.footer-webnetwork__link {
  width: 44px;
  height: 44px;
  @extend %flex-grid;
}

.footer-webnetwork__icon {
  width: 20px;
  height: 20px;
  fill: $colorMain;
}
