.footer {
  background-color: $colorBackgroung;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__logo {
  margin-bottom: 20px;
  display: inline-block;
}

.footer-webnetworks__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $colorMain;
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .footer__container {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 165px;
    row-gap: 60px;
  }
}
