.footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}

.footer__list__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}

.footer__list__address {
  color: var(--colorPage);
  font-style: normal;
}

.footer__list__link {
  color: var(--colorOpacity);
}
