.header {
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 93px;
}

.menu {
  @include textPrimery;
  display: none;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 40px;
  background-color: #fff;
  z-index: 20;
  gap: 65px;
  animation: mobileMenuAnimation $animPrimery;
}

.menu__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 32px;
  flex-grow: 1;
  position: relative;
}

.menu__item {
  transition: color $animPrimery;
  position: relative;
  font-size: 40px;

  &:hover .menu__link {
    &::after {
      transform: scaleX(1);
    }
  }
}

.menu__link {
  &::after {
    content: "";
    display: none;
    position: absolute;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: $colorHover;
    bottom: -37px;
    left: 0;
    transform: scaleX(0);
    z-index: 500;
    transition: transform $animPrimery;
  }
}

.menu__link .menu__link:hover::after,
.link__active::after {
  transform: scaleX(1);
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 50px;
}

.contact-list {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 32px;
}

.contact__item--email {
  font-size: 24px;
}

.contact__item--phone {
  font-size: 34px;

  .contact__link--phone {
    color: $colorHover;
  }
}

.contact__item,
.contact__link {
  color: $colorOpacityContact;
  transition: color $animPrimery;
}

.contact__link {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.contact__icon {
  display: none;
}

.contact__icon--email {
  width: 16px;
  height: 12px;
  fill: $colorClients;
  transition: color $animPrimery;
}

.contact__icon--phone {
  width: 10px;
  height: 16px;
  fill: $colorClients;
  transition: color $animPrimery;
}

.menu__item:hover,
.link__active {
  color: $colorHover;
}

.contact__item {
  &:hover .contact__link {
    &:hover {
      color: $colorHover;
    }
  }

  &:hover .contact__icon {
    fill: $colorHover;
  }
}

.social__list {
  display: none;
}

.mobile-menu__btn {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 18px;
  padding: 0;
  z-index: 20;

  .mobile-menu__stick {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #000;
    transform: scale(1);
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000;
    transition: transform $animPrimery;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &.active::before {
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
  }

  &.active::after {
    bottom: 50%;
    transform: rotate(45deg) translateY(50%);
  }

  &.active .mobile-menu__stick {
    display: none;
  }
}

.social__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.social__item {
  color: $colorHover;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.open {
  display: flex;
}

@keyframes mobileMenuAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .header__container {
    align-items: center;
    justify-content: space-between;
    column-gap: 85px;
  }
  .mobile-menu__btn {
    display: none;
  }

  .open {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-direction: row;
    flex-grow: 1;
    padding: 0;
  }

  .menu__list {
    flex-direction: row;
    gap: 50px;
  }

  .social__list {
    display: none;
  }

  .menu__item {
    font-size: 14px;
  }

  .menu__link {
    &::after {
      display: block;
      z-index: 21;
    }
  }

  .contact-list {
    flex-direction: column;
    gap: 10px;
  }

  .contact__item {
    font-size: 12px;
  }

  .contact__item--phone {
    .contact__link--phone {
      color: $colorOpacityContact;
    }
  }

  .contact__icon {
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  .menu__link {
    &::after {
      bottom: -25px;
    }
  }

  .contact-list {
    flex-direction: row;
    gap: 30px;
  }

  .contact__item {
    font-size: 14px;
  }
}
