.header {
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__container {
  display: flex;
  column-gap: 93px;
}
.menu {
  color: $colorDefault;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
  position: relative;
}

.menu__list__item {
  transition: color $animPrimery;
  position: relative;
}

.menu__list__link::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: $colorHover;
  bottom: -25px;
  left: 0;
  transform: scaleX(0);
  transition: transform $animPrimery;
}

.menu__list__link:hover::after,
.link__active::after {
  transform: scaleX(1);
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 50px;
}

.contact__list,
.contact__link {
  color: $colorOpacityContact;
  transition: color $animPrimery;
}

.contact__link {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.contact__icon--email {
  width: 16px;
  height: 12px;
  fill: $colorClients;
  transition: color $animPrimery;
}

.contact__icon--phone {
  width: 10px;
  height: 16px;
  fill: $colorClients;
  transition: color $animPrimery;
}

.menu__list__item:hover,
.link__active {
  color: $colorHover;
}

.contact__list:hover,
.contact__link:hover {
  color: $colorHover;
}

.contact__list:hover .contact__icon {
  fill: $colorHover;
}
