.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.subscribe-form__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.subscribe-form__title {
  color: $colorMain;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe-form__input {
  @include formWrapper;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 16px 0px 15px 16px;
  width: 360px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: $colorMain;
  flex-grow: 1;
  align-self: center;
}

.subscribe-form__button {
  padding: 10px 28px;
  display: flex;
  align-items: center;
  gap: 10px;
}
