.team {
  padding-bottom: 94px;
  background-color: $colorTeam;
}

.team-cards {
  @extend %flex-grid;
  gap: 30px;
}

.team-member {
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  flex-basis: calc((100% - 90px) / 4);
  border-radius: 0 0 4px 4px;
  background-color: $colorMain;
  padding-bottom: 30px;
}

.team-member__photo {
  margin-bottom: 30px;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.team-member__name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team-member__education {
  color: $colorOpacityContact;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 16px;
}

@media (max-width: 991px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .team-cards {
    flex-wrap: wrap;
  }

  .team-member {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media (max-width: 767px) {
  .team-member__name {
    margin-bottom: 10px;
  }
}

@media (max-width: 575px) {
  .team-member {
    flex-basis: 100%;
  }
}
