:root {
  --colorMain: #ffffff;
  --colorHover: #2196f3;
  --colorBackgroung: #2f303a;
  --colorDefault: #212121;
  --colorContact: #757575.60;
  --colorTeam: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--colorDefault);
}
