:root {
  --colorMain: #ffffff;
  --colorHover: #2196f3;
  --colorBackgroung: #2f303a;
  --colorDefault: #212121;
  --colorOpacityContact: rgba(0, 0, 0, 0.6);
  --colorOpacity: rgba(255, 255, 255, 0.6);
  --colorTeam: #f5f4fa;
  --colorPage: #ececec;
  --colorAdvantages: #757575;
  --colorOverlay: rgba(39, 48, 58, 0.4);
  --colorClients: #afb1b8;
  --colorWork: rgba(47, 48, 58, 0.8);
  --colorBtnHover: #188ce8;
  /* ==================Anim================ */
  --animPrimery: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.364;
  color: var(--colorDefault);
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ====================header======================== */

.header {
  padding-top: 25px;
}

.header-container {
  display: flex;
  column-gap: 93px;
}

.menu {
  color: var(--colorDefault);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
  position: relative;
}

.menu-list-item {
  transition: color var(--animPrimery);
  padding-bottom: 25px;
  position: relative;
  overflow: hidden;
}

.menu-list-item::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: var(--colorHover);
  bottom: 0;
  transform: scaleX(0.3);
  opacity: 0;
  transition: opacity var(--animPrimery);
  transition: transform var(--animPrimery);
}

.menu-list-item:hover::after {
  transform: scaleX(1);
  opacity: 1;
}

.menu-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 50px;
  padding-bottom: 25px;
}

.menu-contact-list,
.menu-contact-link {
  color: var(--colorOpacityContact);
  transition: color var(--animPrimery);
}

.menu-contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.menu-contact-icon {
  width: 16px;
  height: 12px;
  fill: var(--colorClients);
  transition: color var(--animPrimery);
}

.menu-phone-icon {
  width: 10px;
  height: 16px;
  fill: var(--colorClients);
  transition: color var(--animPrimery);
}

.menu-list-item:hover {
  color: var(--colorHover);
}

.menu-contact-list:hover,
.menu-contact-link:hover {
  color: var(--colorHover);
}

.menu-contact-list:hover .menu-contact-icon,
.menu-contact-list:hover .menu-phone-icon {
  fill: #2196f3;
}

/* ====================main======================== */

.hero {
  background-color: var(--colorBackgroung);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      var(--colorOverlay),
      var(--colorOverlay)
    ),
    url(../img/bg/herobg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

.hero-title {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--colorPage);
}

.hero-button {
  color: var(--colorPage);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  padding: 10px 32px;
  background-color: var(--colorHover);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color var(--animPrimery);
}

.hero-button:hover {
  background-color: var(--colorBtnHover);
}

/* ===============modal-window==================== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 38px 32px 42px 48px;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.modal:hover {
  color: inherit;
}

.no-scroll {
  overflow: hidden;
}

.modal-close-icon {
  width: 30px;
  height: 30px;
  padding: 6px;
  position: absolute;
  top: 6px;
  right: 0;
  transition: transform var(--animPrimery);
}

.modal-close-icon:hover {
  border-radius: 50%;
  fill: var(--colorHover);
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  transform: rotate(180deg);
}

.modal-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: var(--colorDefault);
  margin-bottom: 12px;
}

.modal-forms {
  margin: 0 auto;
  max-width: 450px;
}

.form-field {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
}

.form-field:hover,
.footer-form-field:hover {
  border: 1px solid var(--colorHover);
  fill: var(--colorHover);
}

.form-field:focus-within,
.footer-form-field:focus-within {
  border: 1px solid var(--colorHover);
  fill: var(--colorHover);
}

.modal-form-title {
  color: var(--colorAdvantages);
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  text-align: start;
}

.form-label {
  display: flex;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 11px;
}

.modal-form-input {
  width: 100%;
}

.modal-form-icon {
  width: 18px;
  height: 18px;
  margin-left: 12px;
  margin-right: 12px;
}

.modal-form-comment {
  padding: 16px 12px;
  height: 95px;
  margin-bottom: 20px;
}

.form-input-comment {
  text-align: start;
}

.checkbox-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 30px;
  color: var(--colorAdvantages);
}

.accept-btn-input {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  text-align: center;
}

.accept-btn-span {
  color: var(--colorHover);
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.modal-submit {
  color: var(--colorMain);
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 10px 52px;
  background-color: var(--colorHover);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  display: block;
}

/* ====================advantages======================== */

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-list-item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: var(--colorTeam);
  background-image: url(../img/icons/antenna.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.advantages-list-item:nth-child(2)::before {
  background-image: url(../img/icons/clock.svg);
}

.advantages-list-item:nth-child(3)::before {
  background-image: url(../img/icons/diagram.svg);
}

.advantages-list-item:nth-child(4)::before {
  background-image: url(../img/icons/astronaut.svg);
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.advantages-list-item {
  flex-basis: calc((100% - 90px) / 4);
}

.advantages-list-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages-list-text {
  color: var(--colorAdvantages);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}

/* ====================work======================== */

.work {
  padding-bottom: 94px;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.work-photos {
  display: flex;
  column-gap: 30px;
}

.work-photo {
  column-gap: 30px;
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.work-text {
  color: var(--colorMain);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: var(--colorWork);
}

/* ====================team======================== */

.team {
  padding-bottom: 94px;
  background-color: var(--colorTeam);
}

.team-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.team-member {
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  flex-basis: calc((100% - 90px) / 4);
  border-radius: 0 0 4px 4px;
  background-color: var(--colorMain);
}

.team-photo {
  margin-bottom: 30px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team-education {
  color: var(--colorOpacityContact);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 16px;
}

.team-webnetworks {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 30px;
}

.team-webnetwork {
  border-radius: 100%;
  width: 44px;
  height: 44px;
  transition: background-color var(--animPrimery);
}

.team-webnetwork:hover {
  background-color: var(--colorHover);
}

.team-webnetwork-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}

.team-webnetwork-link:hover .webnetwork-icon {
  fill: var(--colorMain);
}

.webnetwork-icon {
  width: 20px;
  height: 20px;
  fill: var(--colorClients);
  transition: fill var(--animPrimery);
}

/* =============permanent-clients=============== */

.permanent-clients {
  padding-top: 126px;
  padding-bottom: 94px;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.client-link {
  padding: 16px 32px;
  display: block;
  border-radius: 4px;
  transition: border var(--animPrimery);
  border: 1px solid var(--colorClients);
  border-radius: 4px;
}

.client-link:hover {
  border: 1px solid var(--colorHover);
}

.client:hover .client-icon {
  fill: var(--colorHover);
}

.client-icon {
  width: 106px;
  height: 60px;
  fill: var(--colorClients);
  transition: fill var(--animPrimery);
}

/* =================portfolio===================== */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.portfolio-list-button {
  padding: 6px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: 1px solid #ffffff00;
  border-radius: 4px;
  background-color: var(--colorTeam);
  transition: color var(--animPrimery);
  transition: background-color var(--animPrimery);
}

.portfolio-list-button:hover {
  padding: 6px 25px;
  color: var(--colorMain);
  background-color: var(--colorHover);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.portfolio-card {
  border: 1px solid #eee;
  flex-basis: calc((100% - 60px) / 3);
  padding-bottom: 20px;
  transition: transform var(--animPrimery);
}

.portfolio-card:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
  transform: translate(0px, -5px);
}

.portfolio-card-photo {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.portfolio-card-photo:hover .portfolio-card-back {
  transform: translateY(0);
}

.portfolio-card-title {
  color: var(--colorDefault);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-card-name {
  color: var(--colorOpacityContact);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-card-back {
  position: absolute;
  color: var(--colorMain);
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  top: 0;
  transform: translateY(100%);
  transition: transform var(--animPrimery);
}

/* =================footer===================== */

.footer {
  background-color: var(--colorBackgroung);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-logo {
  margin-bottom: 20px;
  display: inline-block;
}

.footer-list {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}

.footer-list-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}

.footer-list-address {
  color: var(--colorPage);
  font-style: normal;
}

.footer-list-link {
  color: var(--colorOpacity);
}

.footer-webnetwork-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--colorMain);
  margin-bottom: 20px;
}

.webnetworks {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.webnetwork {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--animPrimery);
}

.webnetwork:hover {
  background-color: var(--colorHover);
}

.webnetwork-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-webnetwork-icon {
  width: 20px;
  height: 20px;
  fill: var(--colorMain);
}

.form-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 12px;
}

.form-title {
  color: var(--colorMain);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-form-field {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-form-input {
  padding: 16px 0px 15px 16px;
  width: 360px;
  background-color: rgba(0, 0, 0, 0);
}

.footer-form-btn {
  color: var(--colorMain);
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;
  background-color: var(--colorHover);
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color var(--animPrimery);
}

.footer-form-btn:hover {
  background-color: var(--colorBtnHover);
}

.form-btn-icon {
  width: 24px;
  height: 24px;
}
