:root {
  --colorMain: #ffffff;
  --colorHover: #2196f3;
  --colorBackgroung: #2f303a;
  --colorDefault: #212121;
  --colorOpacityContact: rgba(0, 0, 0, 0.6);
  --colorOpacity: rgba(255, 255, 255, 0.6);
  --colorTeam: #f5f4fa;
  --colorPage: #ececec;
  --colorAdvantages: #757575;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.364;
  color: var(--colorDefault);
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  padding: 25px 0;
}

.header-container {
  display: flex;
  column-gap: 93px;
}

.menu {
  color: var(--colorDefault);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
}

.menu-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 50px;
}

.menu-contact-list {
  color: var(--colorOpacityContact);
}

.menu-list-item:hover {
  color: var(--colorHover);
}

.menu-contact-list:hover {
  color: var(--colorHover);
}

.hero {
  background-color: var(--colorBackgroung);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

.hero-title {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--colorPage);
}

.hero-button {
  color: var(--colorPage);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  border: 2px solid var(--colorHover);
  padding: 10px 32px;
  background-color: var(--colorHover);
  border-radius: 4px;
}

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.advantages-list-item {
  flex-basis: calc((100% - 90px) / 4);
}

.advantages-list-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages-list-text {
  color: var(--colorAdvantages);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.work-photos {
  display: flex;
  column-gap: 30px;
}

.work-photo {
  width: 370px;
  height: 294px;
  column-gap: 30px;
  flex-basis: calc((100% - 60px) / 3);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--colorTeam);
}

.team-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.team-member {
  flex-basis: calc((100% - 90px) / 4);
}

.team-photo {
  margin-bottom: 30px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team-education {
  color: var(--colorOpacityContact);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
}

/* =================portfolio===================== */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  margin: 0 auto;
}

.portfolio-list-button {
  padding: 6px 25px;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
}

.portfolio-list-button:hover {
  padding: 5px 24px;
  color: var(--colorMain);
  border-radius: 4px;
  border: solid 1px var(--colorHover);
  background-color: var(--colorHover);
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.portfolio-card {
  width: 370px;
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-card-photo {
  margin-bottom: 20px;
}

.service-footing {
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-card-title {
  color: var(--colorDefault);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-card-name {
  color: var(--colorOpacityContact);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* =================portfolio===================== */

.footer {
  background-color: var(--colorBackgroung);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  margin-bottom: 20px;
  display: inline-block;
}

.footer-list {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}

.footer-list-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}

.footer-list-address {
  color: var(--colorPage);
  font-style: normal;
}

.footer-list-link {
  color: var(--colorOpacity);
}
