:root {
  --colorMain: #ffffff;
  --colorHover: #2196f3;
  --colorBackgroung: #2f303a;
  --colorDefault: #212121;
  --colorOpacityContact: rgba(0, 0, 0, 0.6);
  --colorOpacity: rgba(255, 255, 255, 0.6);
  --colorTeam: #f5f4fa;
  --colorPage: #ececec;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.364;
  color: var(--colorDefault);
}

a {
  color: inherit;
}

.header {
  height: 80px;
}

.header-logo {
  margin: 24px 1154px 25px 215px;
}

.menu {
  color: var(--colorDefault);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  position: relative;
  bottom: 70px;
}

.menu-contact-list {
  color: var(--colorOpacityContact);
}

.menu-list-item:hover {
  color: var(--colorHover);
}

.menu-contact-list:hover {
  color: var(--colorHover);
}

.hero {
  background-color: var(--colorBackgroung);
  text-align: center;
}

.hero-container {
  padding-top: 200px;
}

.hero-title {
  font-size: 40px;
  color: var(--colorPage);
}

.hero-button {
  color: var(--colorPage);
  max-width: 216px;
  max-height: 60px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  border: 2px solid var(--colorHover);
  padding: 10px 32px;
  background-color: var(--colorHover);
  border-radius: 4px;
  margin-bottom: 200px;
}

.advantages-list-title {
  font-size: 14px;
  font-weight: 700;
}

.advantages-list-text {
  line-height: 1.71;
}

.work-title .team-title {
  font-size: 36px;
  font-weight: 700;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
}

.team-education {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
}

/* =================portfolio===================== */

.portfolio-card {
  width: 370px;
}

.portfolio-card-photo {
  width: 370px;
}

.portfolio-card-title {
  color: var(--colorDefault);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-card-name {
  color: var(--colorOpacityContact);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* =================portfolio===================== */

.footer {
  background-color: var(--colorBackgroung);
}

.footer-logo {
  margin-top: 60px;
  margin-left: 215px;
}

.footer-menu {
  margin-top: 20px;
  margin-left: 215px;
  padding-bottom: 60px;
}

.footer-list-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  list-style-type: none;
}

.footer-list-address {
  color: var(--colorPage);
  font-style: normal;
}

.footer-list-link {
  text-decoration: none;
  color: var(--colorOpacity);
}
